agentscope==1.0.7
akshare==1.17.85
beautifulsoup4==4.14.3
dataclasses-json==0.6.7
ddgs==9.9.1
docling==2.62.0
htmldate==1.9.4
jieba==0.42.1
Markdown==3.10
marker-pdf==1.10.1
matplotlib==3.10.8
numpy==2.4.0
pandas==2.3.3
pdfkit==1.0.0
pytest==9.0.1
PyYAML==6.0.3
PyMuPDF==1.26.6
requests==2.32.5
seaborn==0.13.2
scikit-learn==1.7.2
trafilatura==2.0.0

